<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Timeline
      </h1>
      <h2 class="subtitle">
        Articles récents
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="box" *ngFor="let article of allArticles">
      <article>
        <div class="level is-small">
          <div class="level-left">
            <div class="level-item">
              <h1 class="title">{{article.title}}</h1>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">By {{article.author}}</div>
            <div class="level-item has-text-grey-light">{{article.creationDate | date: "dd/MM/yyyy"}}</div>
          </div>
        </div>
        <div class="level">
          <p>{{article.content}}</p>
        </div>
      </article>
    </div>
  </div>
</section>