<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Timeline
      </h1>
      <h2 class="subtitle">
        Articles récents
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="box" *ngFor="let article of allArticles">
      <article>
        <div class="level is-small">
          <div class="level-left">
            <div class="level-item">
              <h1 class="title">{{article.title}}</h1>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">By {{article.author}}</div>
            <div class="level-item has-text-grey-light"> at {{article.creationDate | date: "dd/MM/yyyy"}}</div>
          </div>
        </div>
        <div class="level">
          <p>{{article.content}}</p>
        </div>
      </article>
      <section class="section">
        <h2 class="subtitle">Comments <span class="has-text-grey-light">({{article.comments.length}})</span>
        </h2>
        <div class="card" *ngFor="let comment of article.comments">
          <div class="card-content">
            <p class="subtitle is-marginless">
              {{comment.author}}
            </p>
            <div class="content">{{comment.content}}</div>
          </div>
          <div class="level comment-footer">
            <div class="level-left">
              <div class="level-item">
                <a class="button is-info">
                  <span class="icon"><i class="fas fa-caret-up"></i></span>
                  <span>Upvote</span>
                </a>
              </div>
              <div class="level-item">
                <a class="button is-light">
                  <span class="icon"><i class="fas fa-caret-down"></i></span>
                  <span>Downvote</span>
                </a>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item has-text-grey-light">
                {{comment.creationDate | date: "dd/MM/yyyy hh:mm"}}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>